@font-face {
    font-family: "Retrograde-Regular";
    src: url("./assets/DMRetrograde-Regular.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

:root {
    --primary-color: #f0f6f0;
    --secondary-color: #222323;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Retrograde-Regular", sans-serif;
    background-color: var(--primary-color);
}

body {
    /* centering content */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

h1 {
    font-size: 28px;
}

.container {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.timer {
    font-size: 60px;
}

button {
    width: 200px;
    height: 25px;
    padding: 6px;
    font-size: 15px;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border: none;
}

button:hover {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: solid var(--secondary-color) 3px;
    padding: 3px;
}